footer img{
	width: 5em;
	height: 3em;
	margin-left: 0.5em;
	margin-bottom: 0.5em
}

#bottom img{
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
}

.brand img{
	width: 12em;
}

hr{
	width: 100%;
	border: 1px ridge  white;

}

.footer{
	padding:0.7em;
}

footer{
	font-family: lucia Console;
}

#top{
	margin-top: -10px;
}