body{
    font-size: 1.2rem;
    font-family:'Quicksand', sans-serif;
    background-color: #F0F1F4;
   
}



#navbar{
	background-color: darkred;
	float: left;
}

.container{
	position: relative;
	padding-right: 3rem;
}
.btn-group{

	z-index: 3;
	right: -1.5rem;


}

.container h3{
	color: grey;
	font-size: 1.5rem;
	margin-top: 5px;
	font-weight: bold;
}

.container form{
	margin-left: 3rem;
}

.container .input-group{
	margin-left: 5rem;
}

.export #export{
	font-size: 0.7rem;
	height: 1.8rem;
	font-weight : bold;
}

 .btn-group #record{
	height: 1.8rem;
	background-color: darkred;
	margin-left: 1rem;
	display: flex;
	width: 7rem;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	


}

#record p{
	font-size: 0.7rem;
	font-family: 'Quicksand', sans-serif;
	justify-content : center;
	align-items : center;
	color :white;
	margin-top : 1rem;
	font-weight : bold;
	
	
/*	box-shadow:0px 2px 3px grey ;*/



}


.content{
	position: relative;
	margin-left: 15rem;
	padding-right: 2rem;
	text-align: left;
}
.content .navbar{
	margin-left: 15rem;
}
#data{
	margin-top: 5rem;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
	background-color: white;
	box-shadow: 0px 0px 15px white;
	
}


#registrasi thead th {
    position: sticky;
    top: 0;
    background: #fff;      /* warna latar agar menutupi isi di bawah */
    z-index: 10;           /* supaya tetap di atas baris data */
    text-align: center;    /* rata tengah */
    /* opsional untuk tampilan */
         background-color: #0d6efd;
    padding: 8px;
    border-bottom: 2px solid #ccc;
}
#registrasi tbody td:nth-child(2) {
    text-align: center;
}
#table-container{
	overflow-y: auto;
	max-height: 75vh;
	overflow-x: auto;
	min-width: 100vh;
}

.navbar{
	background-color: white;
	box-shadow: 0px 3px 20px black;
	height: 4rem;
}

.container-fluid table{
	border: 1px solid black;

}

.content .input-group{
	width: auto;
	margin-left: 10px;
/*	background-color: darkred;*/
	z-index: 999;
}


.container-fluid table tr th{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	background-color: grey;
	font-size: 12px;
	white-space: nowrap;
}

.container-fluid table tr td{
	border: 1px solid black;
	font-size: 12px;
	white-space: nowrap;
	height: -0.5rem;
}

#container-fitur{
	width: 100%;
	height: 50px;
/*	margin-bottom: 10px;*/
	background-color: f;
	box-shadow:0px 2px 8px grey ;
	position: fixed;
	bottom: 0;


}

#container-fitur .input-group{
	margin-top: 0.8rem;
}




#container-fitur .input-group input,
#container-fitur button,
#container-fitur .input-group .input-group-text{
	font-size: 12px;
	font-weight: bold;
}


#fitur{
/*	position: fixed;*/
margin-top: 1.3rem;
align-items: center;




}